
<% @list = @recipe.ingredients %>

<div class="edit_form">
  <li>
  <%= form_for(@recipe, :class => "form") do |f| %>
    <p id="TitleRecipeEdit">
      <%= f.text_field :title %>
    </p>
    <p >
      <%= f.text_area :ingredients, :value => @list.to_s.gsub(/"|\[|\]/, ' ' ), :cols => "20", :rows => "10", :id => "ingredientListEdit"%>
    </p>
    <%= f.submit "Update List", :id => "recipeSubmitEdit" %>
  <% end%>
</li>
</div>
